@import "skeleton"
@import "normalize"


body 
 font-family: "Open Sans", sans-serif

h1
 color: #ccc
 weight: 300

figure
 margin:auto

.content
 article
  padding: 100px 0
  max-width: 640px
  margin: 0 auto

img
 max-width: 100%


//parallax

.falls-box
 position:relative
 height: 600px
 background:
  image: url('../images/falls-bg.jpg')
  size: auto 
  position: top center
  attachment: fixed
  repeat: no-repeat

/*
 .logo
  height: 110px
  width: 100%
  background:
   image: url(../images/ashram3-01.png)
   repeat: no-repeat
  position: absolute
  top: 40%*/


.falls-girl
 width: 403px
 height: 550px
 background:
  image: url(../images/falls-girl.png)
  repeat: no-repeat
  position: right bottom
 position: absolute
 left: 10%
 top: 90px 

 