doctype html
html
	head
	title Ashram Davao
	meta(charset="utf-8")
	meta(name="viewport",content="width=device-width, initial-scale=1")
	link(rel="stylesheet", href="css/layout.css")

	body

		header.falls-box
			
			.logo
			.falls-girl


		section.container

			article
				//img(src="images/ashram3-01.png")

				br
				br
				br
				br
				br
				br
				br
				br
				

				h1 About Us
				hr

				p A non-profit, non-stock institute composed of brothers and sisters and lay partners who share their time, skills and gifts to make contemplative spirituality available to all. We conduct retreats, talks, self-processing, and contemplative silence aimed at developing loving kindness, wisdom, and inner peace based on shared learning and spiritual practices.
				
				p We envision a society of enlightened and awakened persons for the restoration of wholeness and oneness of creation. We commit to nurturing the self, Mother Nature and the community. We promote healthy lifestyle, discipline and practices towards emotional balance and transformative spirituality. 
				
				br
				h1 
					strong What we do
				hr
				
				.row
					.five.columns.right
						h6 
							strong HOLISTIC HEALING & INNERCISES

					.six.columns.left
						p We teach various healing modalities and exercises to support one’s spiritual practice and contemplative life. 


				.row 
					.five.columns.right
						h6
							strong MINDFULNESS CULTIVATION


					.six.columns.left

						p Mindfulness exercises aimed at achieving inner balance, broader understanding of God, human life, and the whole of creation. 
			

				.row
					.five.columns.right
						h6
							strong LECTURES & TALKS
						

					.six.columns.left		
						p Facilitate discussion on subjects that help promote understanding and harmony among various faiths, traditions, and practices.
	

				.row

					.five.columns.right
						h6 
							strong PERSONALITY AWARENESS
						
					.six.columns.left
						p Personal retreats to process awareness of one’s personality and give opportunity for healing using available tools such as enneagram and journal writing.


				.row
					.five.columns.right
						h6
							strong RETREATS

					.six.columns.left
						p Short term and residential retreats to ground and heal oneself from everyday environment. Conducted to uplift one’s spiritual needs by tapping available learnings & practices of sages, saints, and spiritual mystics.
					
				br
				h1 Our Centers
				hr

				.row
					.four.columns
						h6 
							strong DAVAO CITY
						p zendo located at 2nd Floor, Mission Center, Missionaries of Assumption inside Assumption College, Cabaguio, Davao.

					.four.columns
						h6
							strong TACUNAN 
						p Ashram Community Retreat Center located some 30-minute ride from downtown Davao City, Philippines.
					
					.four.columns
						h6
							strong MARAGUSAN 
						p Retreats Center,  Compostela Valley, overlooking Tagbibinta waterfalls.

				br

				h1 
					strong Contact Us
				hr

				p Visit us at Tacunan, Tugbok, Davao City, Philippines 
					br
					| (0917) 7053307
					br
					|  (0920) 8337821 Sr. Esper Clapano
					br
					| Email: ashram.phils@gmail.com 

				






				
				

			div(style="height: 100px")


		script(src="js/jquery.js")
		script(src="js/functions.js")

